<%-include ('header')-%>
    <h2>Books</h2>
    <div id="books-table">

        <div id="table">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Book-name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Borrowed By</th>
                        <th scope="col">Date Of Borrow</th>
                        <th scope="col">Date Of Return</th>
                    </tr>
                </thead>
                <tbody>

                    <% for( let i = 0; i < book.length; i++ ) { %>
                        <tr>
                            <th scope="row">
                                <%= book[i].id %>
                            </th>
                            <td>
                                <%= book[i].book_name %>
                            </td>
                            <td>
                                <%= book[i].author_name %>
                            </td>
                            <td>
                                <%= book[i].borrowed_by %>
                            </td>
                            <td>
                                <%= book[i].date_of_borrow %>
                            </td>
                            <td>
                                <%= book[i].date_of_return %>
                            </td>
                            <td><a href="/update_book?id=<%= book[i].id  %>" class='btn border-shadow update'><i class="far fa-edit" style="font-size:large; color: black;"></i>
                            </a>
                            </td>
                        </tr>
                        <% } %>

                </tbody>
            </table>
        </div>
    </div>


    <%-include ('footer')-%>