<%-include ('header')-%>

    <div class="container wd-25  pt-5 ">
        <a href="/" class='btn btn-success mb-2'><i class="fas fa-angle-double-left"></i>  All Books</a>
        <div class="text-center" style="padding: 5px 10px;">
            <h1 style="color: cornflowerblue;font-weight: bold;">Update Books Data</h1>
            <span style="color: black; margin-bottom: 10px;">Enter updated Books data</span>
        </div>
        <form class='form-control pl-5 mb-5' id='update_book' style="border: none;">
            <div class="new_user">
                <div class="form-group">

                    <input type="hidden" name='id' value='<%= book.id %> '>
                    <label class="form-label" style="font-weight: bold;">Book Name</label>
                    <input type='text' name='book_name' class="form-control" value="<%= book.book_name %>" id="formGroup" placeholder="Book Name">
                </div>
                <div class="form-group">
                    <label class="form-label" style="font-weight: bold;">Author Name</label>
                    <input type='text' name="author_name" class="form-control" value="<%= book.author_name %>" id="formGroup" placeholder="Author Name">
                </div>
                <div class="form-group">
                    <label class="form-label" style="font-weight: bold;">Borrowed By</label>
                    <input type='text' name="borrowed_by" class="form-control" value="<%= book.borrowed_by %>" id="formGroup" placeholder="Borrowed By">
                </div>
                <div class="form-group">
                    <label class="form-label" style="font-weight: bold;">Date of Borrow</label>
                    <input type='date' name="date_of_borrow" class="form-control" value="<%= book.date_of_borrow %>" id="formGroup" placeholder="Date of borrow">
                </div>
                <div class="form-group">
                    <label class="form-label" style="font-weight: bold;">Date of Return</label>
                    <input type='date' name="date_of_return" class="form-control" value="<%= book.date_of_return %>" id="formGroup" placeholder="Date of Return">
                </div>


                <button type='submit' class='btn btn-success border update'>Done</button>

            </div>
        </form>
    </div>
    <script>
        $('#update_book').submit(function(event) {
            event.preventDefault();
            var unindexed_array = $(this).serializeArray();
            var data = {}
            $.map(unindexed_array, function(n, i) {
                data[n['name']] = n['value']
            })
            console.log(data)
            var request = {
                "url": "http://localhost:8899/update_book/" + data.id,
                "method": "PUT",
                "data": data
            }
            $.ajax(request).done(response => {
                alert('data updated successfully!');
            })
        });
    </script>

    <%-include ('footer')-%>